{% extends 'base.html' %}

{% block title %}
    Comprehensive Case Studies
{% endblock %}

{% block content %}
<section id="case-studies-section">
    <div id="intro-content">
        <h1 class="intro-heading">Explore Our Comprehensive Case Studies</h1>
        <p class="intro-description">
            Dive into our diverse range of Case Studies, including Business, Management, Marketing, and Economics. Our detailed reports provide valuable insights and practical solutions, offering a comprehensive analysis to enhance your understanding and drive strategic decisions.
        </p>
    </div>
    <div id="case-studies-content">
        <div class="case-study-box">
            <h2 class="case-study-heading">Our Case Studies</h2>
            <ul class="case-study-list">
                <li>Business Case Studies</li>
                <li>Management Case Studies</li>
                <li>Marketing Case Studies</li>
                <li>Economics Case Studies</li>
            </ul>
        </div>
        <div class="insights-box">
            <h2 class="insights-heading">Insights</h2>
            <p class="insights-description">
                Access detailed reports and practical solutions to enhance your strategic decision-making process.
            </p>
        </div>
    </div>
    <div id="cta-section">
        <a href="https://api.whatsapp.com/send?phone=18438437046" class="cta-button">Request More Information</a>
    </div>
</section>
{% endblock %}
