{% extends 'base.html' %}

{% block title %}
    Academic Excellence in Economics
{% endblock %}

{% block content %}
<section class="economics-section">
    <div class="overlay"></div>
    <div class="container">
        <h1 class="section-title">Your Path to Academic Excellence in Economics</h1>
        <p class="section-description">
            Achieve academic excellence in Economics with our expert services. From econometrics and macroeconomics to microeconomics and international trade, we offer guidance in statistical analysis and crafting insightful economic essays and reports to elevate your understanding and performance.
        </p>
        <div class="services">
            <div class="service-item">
                <h2>Our Services</h2>
                <ul>
                    <li>Econometrics</li>
                    <li>Macroeconomics</li>
                    <li>Microeconomics</li>
                    <li>Statistics for Economics</li>
                    <li>International Trade</li>
                    <li>Economic Essays</li>
                    <li>Reports</li>
                </ul>
            </div>
            <div class="resources-item">
                <h2>Resources</h2>
                <p>Find the best study materials, guides, and articles to excel in Economics.</p>
            </div>
        </div>
        <a href="https://api.whatsapp.com/send?phone=254737988992" class="cta-button">Contact Us for Support</a>
    </div>
</section>
{% endblock %}
