{% extends 'base.html' %}

{% block title %}Services{% endblock %}

{% block content %}



<!-- Services Start -->
<div id="services" class="container-fluid services py-5 mb-5">
  <div class="container">
    <div
      class="text-center mx-auto pb-5 wow fadeIn"
      data-wow-delay=".3s"
      style="max-width: 600px"
    >
      <h5 class="text-primary">Our Services</h5>
      <h1>Services Built Specifically For Your Business</h1>
    </div>
    <div class="row g-5 services-inner">
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <img src="/static/images/computer_science.jpg" alt="Business Analytics" class="img-fluid mb-4" >
              <h4 class="mb-3">Computer Science</h4>
              <p class="mb-4">
                Explore the world of Computer Science and unlock academic excellence.From mastering programming languages like Python, Java, and C++ to advanced software and web development, database management and algorithm design, we provide comprehensive support for your projects.
              </p>
              <a
                href="services"
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <img src="/static/images/machine_learning1.jpg" alt="Business Analytics" class="img-fluid mb-4" >
              <h4 class="mb-3">Machine Learning</h4>
              <p class="mb-4">
                Elevate your academic journey in Machine Learning with our expert services. Dive into machine learning using Python and R, enhance your data analysis skills, and advance your projects and research. We’re here to guide you to academic excellence in the ever-evolving field of Machine Learning.
              </p>
              <a
                href="services"
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <img src="/static/images/data_analysis.jpg" alt="Business Analytics" class="img-fluid mb-4" >
              <h4 class="mb-3">Data Analysis</h4>
              <p class="mb-4">
                Achieve academic excellence in Data Analysis with our expert services. We specialize in SPSS, STATA, R, and Python, offering top-notch data visualization and research reviews. Benefit from our comprehensive support for reports and analysis using Jamovi and other advanced tools.
              </p>
              <a
                href="services"
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <img src="/static/images/economics.jpg" alt="Business Analytics" class="img-fluid mb-4" >
              <h4 class="mb-3">Economics</h4>
              <p class="mb-4">
                Achieve academic excellence in Economics with our expert services. From econometrics and macroeconomics to microeconomics and international trade, we offer guidance in statistical analysis and crafting insightful economic essays and reports to elevate your understanding and performance.
              </p>
              <a
                href="services"
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <img src="/static/images/data_mining.png" alt="Business Analytics" class="img-fluid mb-4" >
              <h4 class="mb-3">Data Mining</h4>
              <p class="mb-4">
                Achieve academic excellence in Data Mining with our expert services. Harness the power of WEKA and Orange for insightful data analysis, or utilize Python and R for advanced data mining techniques. We support your projects and research to drive impactful results.
              </p>
              <a
                href="services"
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <img src="/static/images/finance.jpg" alt="Business Analytics" class="img-fluid mb-4" >
              <h4 class="mb-3">Finance</h4>
              <p class="mb-4">
                Embark on a journey to academic excellence in Finance with our tailored services. Explore corporate finance, investment analysis, and financial markets, while honing your skills in financial modeling and risk management. We offer expert support for reports and financial essays to elevate your understanding.
              </p>
              <a
                href="services"
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <!-- <i class="fas fa-laptop-code fa-7x mb-4 text-primary"></i> -->
              <img src="/static/images/business_analytics.jpg" alt="Business Analytics" class="img-fluid mb-4" >
              <h4 class="mb-3">Business Analytics</h4>
              <p class="mb-4">
                Harness the power of Business Analytics to drive success. Our expertise in Business Intelligence, Data Analytics, and Predictive Analytics, coupled with tools like Power BI and Tableau, ensures insightful reports and case studies to guide your strategic decisions and optimize performance.
              </p>
              <a
                href="services"
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <img src="/static/images/case_study.jpg" alt="Business Analytics" class="img-fluid mb-4" >
              <h4 class="mb-3">Case Studies</h4>
              <p class="mb-4">
                Dive into our diverse range of Case Studies, including Business, Management, Marketing, and Economics. Our detailed reports provide valuable insights and practical solutions, offering a comprehensive analysis to enhance your understanding and drive strategic decisions.
              </p>
              <a
                href="services"
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <img src="/static/images/reports.jpeg" alt="Business Analytics" class="img-fluid mb-4" >
              <h4 class="mb-3">Reports</h4>
              <p class="mb-4">
                Enhance your academic and professional success with our expert report services. We specialize in crafting detailed research, business, technical, project, and academic reports, ensuring clarity and precision in every document. Trust us to deliver insights and analysis tailored to your needs.
              </p>
              <a
                href="{% url 'reports' %}"
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <img src="/static/images/business.jpg" alt="Business " class="img-fluid mb-4" >
              <h4 class="mb-3">Business</h4>
              <p class="mb-4">
                Elevate your business with our expert services. Whether you're focusing on Business Management, Entrepreneurship, or Business Strategy, we provide tailored support in Operations Management, Business Plans, and comprehensive reports to drive your success and growth.
              </p>
              <a
                href="services"
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <a href="services">
                <img src="/static/images/marketing.jpg" alt="Marketing" class="img-fluid mb-4 image-link">
              </a>
              <h4 class="mb-3">Marketing</h4>
              <p class="mb-4">
                Elevate your brand with our expert marketing services. We offer strategic marketing solutions, digital marketing expertise, and in-depth market research. Understand consumer behavior, enhance your approach with detailed reports, and analyze successful case studies to drive your business forward.
              </p>
              <a href="services" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
            </div>
          </div>
        </div>
      </div>
      


    </div>
  </div>
</div>
<!-- Services End -->

<!-- Services End -->
{% endblock %}
